<form [formGroup]="dogForm" method="post" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h3>Add new dog to list</h3>
    <br />
    <input type="text" name="Name" placeholder="Name" formControlName="Name" required minlength="1">
    <div  *ngIf="dogForm.controls['Name'].invalid && dogForm.controls['Name'].touched">
      Name is required.
    </div>
    <div *ngIf="dogForm.controls['Name'].invalid && dogForm.controls['Name'].touched">
      Name must be at least 2 characters long.
    </div>
    <br />
    <br />
    <input type="number" name="Age" placeholder="Age" formControlName="Age" required>
    <div *ngIf="dogForm.controls['Age'].invalid && dogForm.controls['Age'].touched">
      Age is required.
    </div>
    <br />
    <br />
    <button class="btn btn-primary" type="submit" [disabled]="dogForm.controls['Name'].invalid || dogForm.controls['Age'].invalid">Add</button>
  </div>
</form>


<h3>Dog list</h3>
<p *ngIf="!dogs"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dogs">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{ dog.id }}</td>
      <td>{{ dog.name }}</td>
      <td>{{ dog.age }}</td>
    </tr>
  </tbody>
</table>



